<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>994470408291-o6n6ttdvh2m25e15u1qe7ettv46qvo11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994470408291-o6n6ttdvh2m25e15u1qe7ettv46qvo11</string>
	<key>API_KEY</key>
	<string>AIzaSyDJRVHS1T4Dhb0efgx-zd3ox3UiV6PdlLg</string>
	<key>GCM_SENDER_ID</key>
	<string>994470408291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attitudetech.Pawtrails.debug</string>
	<key>PROJECT_ID</key>
	<string>pawtrails-165714</string>
	<key>STORAGE_BUCKET</key>
	<string>pawtrails-165714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994470408291:ios:5d4292d2b2d2d5d1</string>
	<key>DATABASE_URL</key>
	<string>https://pawtrails-165714.firebaseio.com</string>
</dict>
</plist>