<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>246137993671-ci2va1fb67k4r5lkngvtqtbntn4r6vu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246137993671-ci2va1fb67k4r5lkngvtqtbntn4r6vu0</string>
	<key>API_KEY</key>
	<string>AIzaSyBGl0WZn7TITXgkTb0AVQtFhIxGQzWho9U</string>
	<key>GCM_SENDER_ID</key>
	<string>246137993671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attitudetech.PawTrails</string>
	<key>PROJECT_ID</key>
	<string>maps-asset-68148371</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-asset-68148371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246137993671:ios:0fe8562573cf519d</string>
	<key>DATABASE_URL</key>
	<string>https://maps-asset-68148371.firebaseio.com</string>
</dict>
</plist>