github "danielgindi/Charts" ~> 3.0.4
github "wxxsw/GSMessages"
github "ReactiveX/RxSwift"
github "SwiftyJSON/SwiftyJSON"
github "socketio/socket.io-client-swift" ~> 13.1.0
github "facebook/facebook-sdk-swift"
github "bitstadium/HockeySDK-iOS"

