#github "RxSwiftCommunity/RxDataSources" ~> 2.0.2
#github "danielgindi/Charts" ~> 3.0.4
#github "wxxsw/GSMessages"
#github "ReactiveX/RxSwift"
#github "SwiftyJSON/SwiftyJSON"
#github "facebook/facebook-sdk-swift"
#github "bitstadium/HockeySDK-iOS"
#github "CocoaLumberjack/CocoaLumberjack"
#github "SnapKit/SnapKit" ~> 3.0.0
#github "hyperoslo/Cache"
#github "xmartlabs/XLPagerTabStrip" ~> 8.0
#github "vikmeup/SCLAlertView-Swift" ~> 0.7.0
#github "Skyscanner/SkyFloatingLabelTextField" ~> 3.0
#github "ariok/BWWalkthrough"
#github "soffes/GradientView"
#github "lkzhao/Hero"
#github "gavinbunney/Toucan"
#github "TimOliver/TOCropViewController" ~> 2.3.4
github "hackiftekhar/IQKeyboardManager" == 5.0.4
