github "RxSwiftCommunity/RxDataSources" ~> 2.0.2
github "danielgindi/Charts" ~> 3.0.4
github "wxxsw/GSMessages"
github "ReactiveX/RxSwift"
github "SwiftyJSON/SwiftyJSON"
github "facebook/facebook-sdk-swift"
github "bitstadium/HockeySDK-iOS"
github "CocoaLumberjack/CocoaLumberjack"
github "SnapKit/SnapKit" ~> 3.0.0